<div>
  <h1>  Poster un article  </h1>
  <div>
    <form>
      <div>
        <label>Sélectionnez une page</label>
        <select required>
          <option ngModel *ngFor="let page of pages" [name]="page.wk_nom_page" [value]="page.wk_id_page">
            {{ page.wk_titre_page }}
          </option>
        </select>
      </div>
      <div>
        <label>Sélectionnez une section</label>
        <select required>
          <option ngModel *ngFor="let section of sections" [name]="section.wk_nom_section" [value]="section.wk_id_section">
            {{ section.wk_titre_section }}
          </option>
        </select>
        <label>Créer une section</label>
        <input type="text">
        <button>Ajouter</button>
      </div>
      <quill-editor [styles]="{height: '200px'}"></quill-editor>
    </form>
  </div>
</div>