.form-container {
  width: 70%;
  margin: 0 auto;

  >div {
    margin-top: 2rem;
  }

  .form-flex {
    display: flex;
    text-align: center;

    div {
      width: 100%;
      margin: 2rem 0;
    }
    select, input {
      width: 50%;
      padding: 8px;
    }
  }
  h3 span {
    font-size: 1.5rem;
    padding: 0 0.45rem;
    border-radius: 100%;
    color: #fff;
    background-color: rgb(63, 18, 39);
  }
}

@media screen and (max-width: 768px) {
  .form-flex {
    display: block !important;
  }
}